<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | home</title>
    <link rel="stylesheet" href="{{url_for ('static',filename ='css/home.css')}}">
</head>
    <!--Esto debe ir en el head-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://g3k.co/font/rawen.css' rel='stylesheet' type='text/css'>
<link href='http://g3k.co/font/mix-rawen-g3k/g3k.css' rel='stylesheet' type='text/css'>

<!--INPUTS QUE SE ELIMINARAN CUANDO SE USE JQUERY-->

<input type="checkbox" id="ctrl-menu"/>
<input type="checkbox" id="ctrl-config"/>  

  <input type="radio" name="letra" id="ctrl-lang"/>    
  <input type="radio" name="letra" id="ctrl-letra-1"/>
  <input type="radio" name="letra" id="ctrl-letra-2"/>
  <input type="radio" name="letra" id="ctrl-letra-3"/>

  <input type="radio" name="resolucion" id="ctrl-monitor"/>
  <input type="radio" name="resolucion" id="ctrl-laptop"/>
  <input type="radio" name="resolucion" id="ctrl-pad-h"/>
  <input type="radio" name="resolucion" id="ctrl-pad-v"/>
  <input type="radio" name="resolucion" id="ctrl-phone-h"/>
  <input type="radio" name="resolucion" id="ctrl-phone-v"/>


<header>
  <h1 id="inicio">
    <span class="bienvenidos">Bienvenidos </span>
  </h1>
  <h2>A esta página web</h2>
</header>

  </div>
</section>
  
<body>
    <a href="/lugaresFav">Ver lugares favoritos</a>
    <a href="/personajesFav">Ver personajes favoritos</a>
</body>
</html>