<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP| Login</title>
    <link rel="stylesheet" href="{{url_for ('static',filename ='css/login.css')}}">
</head>
<body>
    <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Inicia<span>Sesión</span></div>
		</div>
		<br>
		<div class="login">
            <form class="login" action="login" method="post"></form>
			<input type="text" placeholder="user" name="name"><br>
			<input type="password" placeholder="password" name="pass"><br>
            <input type="button" value="Login">
        </div>
</body>

</html>