<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parcial</title>
    <link rel="stylesheet" href="{{url_for ('static',filename ='css/contactanos.css')}}">
</head>
<body>
    <div class="body">
        <h1>Contáctenos</h1>
        <ul>
            <li>Telefono: 666-666-666</li>
            <li>Dirección: A la vuelta de la esquina</li>
            <li>Correo electrónico: salvamostuvida@hospital.com</a></li>
        </ul>
        <a href="/">Regresar al inicio</a>
    </div>
</body>
</html>