<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parcial</title>
    <link rel="stylesheet" href="{{url_for ('static',filename ='css/datoCurioso.css')}}">
</head>
<body>
    <div class="body">
        <h1>Dato Curioso</h1>
        <p>Mi nombre en María Fernanda y me gusta la ingeniería de tejidos.
            En el futuro me veo trabajando con genética, probablemente animal. 
        </p>
        <a href="/">Regresar al inicio</a>
    </div>
    
</body>
</html>