<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parcial</title>
    <link rel="stylesheet" href="{{url_for ('static',filename ='css/doctores.css')}}">
</head>
<body>
    <h1>Nuestro personal</h1>
    <h2>Alveiro Cifuentes
        <br>
        Alicia Dominguez
        <br>
        Arturo Vidal
        <br>
        Mario Figueroa
        <br>
        Tatiana Ordoñez
        <br>
        Esperanza Gonzalez
        <br>
        Federico Fuentes
        <br>
        Martin Romero
        <br>
        Mauricio Pelaez
        <br>
        Camilo Cruz
        <br>
        Danilo Pasto
        <br>
        Esther Diaz
        <br>
        Patricia Alvarez
        <br>
        Fanny Acero
        <br>
        Lucia Ramirez
        <br>
        Martha Hernandez
        <br>
        SandraLopez
        <br>
        CatalinaZapata
        <br>
        FrancismoRuiz
        <br>
        Jenny Mendoza
    </h2>
    <a href="/">Regresar al inicio</a>
</body>
</html>