<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parcial</title>
  <link rel="stylesheet" href="{{url_for ('static',filename ='css/homeParcial.css')}}">
    

</head>
<body>
  <div class="ct" id="t1">

  <section> 
    <ul>
      <a href="#t1"><li class="icon fa fa-home" id="uno"></li></a>
    </ul>
      <div class="page" id="p1">

        <li class="icon fa fa-home"><span class="title">Home</span><span class="hint">Bienvenidos <br/> a esta página.</span></li>  
        <li><a href="/pacientes">Lista de pacientes internados </a></li>
        <li><a href="/doctores">lista de doctores</a></li>
        <li><a href="/conocenos">Nuestras instalaciones</a></li>
        <li><a href="/contactanos">Para mayor información</a></li>
        <li></li><a href="/datoCurioso">Dato Curioso</a></li>
      </div>
  </section> 
</div>
</body>
</html>
