<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parcial</title>
    <link rel="stylesheet" href="{{url_for ('static',filename ='css/pacientes.css')}}">
</head>
<body>
    <h1>Pacientes Internados</h1>
    <h2>
        Pedro
        <br>
        Maria
        <br>
        Juana
        <br>
        Martha
        <br>
        Luis
        <br>
        Pablo
        <br>
        Martin
        <br>
        Juliana
        <br>
        Esther
        <br>
        Nain
        <br>
        Pepito
        <br>
        Julanito
        <br>
        Sultanito
        <br>
        Adriana
        <br>
        Adrian
        <br>
        Andrea
        <br>
        Liliana
        <br>
        Aurora
        <br>
        Sebastian
        <br>
        Jose
        <br>
        Catalina
        <br>
        Carolina
        <br>
        Diego
        <br>
        Daniel
        <br>
        Tatiana
    </h2>
    <a href="/">Regresar al inicio</a>
</body>
</html>