<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica</title>
    <link rel="stylesheet" href="{{url_for ('static',filename ='css/contact.css')}}">
</head>
<body>
    <div class= "body"></div>
    <h1>Contáctenos</h1>
    <ul>
        <li>Telefono: 666-666-666</li>
        <li>Dirección: A la vuelta de la esquina</li>
        <li>Correo electrónico: salvamostuvida@clinica.com</a></li>
    </ul>
    <a href="/inicio">Regresar al inicio</a>
</body>
</html>