<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica</title>
    <link rel="stylesheet" href="{{url_for ('static',filename='css/personal.css')}}">
</head>
<body>
    <div class= "body img">
        <h1>Profesionales de calidad</h1>
        <p>Dr. Arizona Robbins- Pediatría</p>
        <img src="{{url_for ('static',filename = 'imagenes/Arizona_Robbins.jpg')}}">
        <p>Jesse Williams- Cirujía Plástica</p>
        <img src="{{url_for ('static',filename = 'imagenes/Jesse-williams.jpg')}}">
        <p>Juan Dominguez- Ginecologo</p>
        <img src="{{url_for ('static',filename = 'imagenes/Juan_Dominguez.jpg')}}">
        <p>Julio Vargas- Optometra</p>
        <img src="{{url_for ('static',filename = 'imagenes/Julio_Vargas.jpg')}}">
        <p>Martina Orozco- Ortopedia</p>
        <img src="{{url_for ('static',filename = 'imagenes/Martina_Orozco.jpg')}}">

        <a href="/inicio">Regresar al inicio</a>
    </div>
</body>
</html>