<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica</title>
    <link rel="stylesheet" href="{{url_for ('static',filename ='css/services.css')}}">
</head>
<body>
    <div class="body"></div>
        <h1>Portafolio de servicios</h1>
        <ul>
            <li>Consulta general</li>
            <li>Urgencias</li>
            <li>Odontología</li>
            <li>Consulta especializada</li>
            <li>Laboratorio médico</li>
        </ul>
        <a href="/inicio">Regresar al inicio</a>
    </div>  
</body>
</html>